@font-face {
    font-family: "Bodoni Moda";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/BodoniModa_Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Bodoni Moda";
    font-style: normal;
    font-weight: bold;
    src: url("/fonts/BodoniModa_Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter_Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PT Mono";
    src: url("/fonts/PTMono_Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
